In [1]:
'''It is decision of "Titanik" from Kaggle: "https://www.kaggle.com/competitions/titanic".'''

'It is decision of "Titanik" from Kaggle: "https://www.kaggle.com/competitions/titanic".'

In [2]:
import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from functions_for_titanik import inpute_data, encode_categorical, make_prediction_file

In [3]:
#Path to data

PATH_TO_TRAIN = "kaggle_data/train.csv"
PATH_TO_TEST = "kaggle_data/test.csv"

In [4]:
#Loading data

train = pd.read_csv(PATH_TO_TRAIN, index_col="PassengerId") # Training sample
test = pd.read_csv(PATH_TO_TEST, index_col="PassengerId")   # Test sample

In [5]:
#Checking the data status #1
# print("train:")
# train.info()
# print(" \ntest:")
# test.info()

In [6]:
#Drop useless columns

useless_columns = ["Name", "Ticket", "Cabin"] #There is very little data in the "Cabin"

train_clean = train.drop(columns=useless_columns)
test_clean = test.drop(columns=useless_columns)

In [7]:
#Inputing NaN data

train_full = inpute_data(train_clean)
test_full = inpute_data(test_clean)

In [8]:
#Checking the data status #2
# print("train_full:")
# train_full.info()
# print(" \ntest_full:")
# test_full.info()

In [9]:
#Data visualization

# sns.catplot(data=train_full, x="Sex", hue="Survived", kind="count") #Men die more often

In [10]:
# sns.catplot(data=train_full, x="Pclass", hue="Survived", kind="count") #The poor also die more often

In [11]:
# sns.catplot(data=train_full, x="Pclass", hue="Pclass", kind="count") #At the same time, the poor were the most

In [12]:
# sns.catplot(data=train_full, x="Pclass", hue="Sex", kind="count")  #The poor man were the most

In [13]:
# sns.catplot(data=train_full, x="Sex", y="Survived", hue="Sex", col="Pclass", kind="bar", errorbar=None)  #And the dead among them were the most

In [14]:
# Survival also depends on the number of families

# sns.catplot(data=train_full, x="SibSp", hue="Survived", kind="count") # Here they are siblings/spouses

In [15]:
# sns.catplot(data=train_full, x="Parch", hue="Survived", kind="count") # Here it's parents/children

In [16]:
# Feature Engineering "SibSp" and "Parch"

train_full["Family_size"] = train_full["SibSp"] + train_full["Parch"]
test_full["Family_size"] = test_full["SibSp"] + test_full["Parch"]

# sns.catplot(data=train_full, x="Family_size", hue="Survived", kind="count")

In [17]:
# sns.catplot(data=train_full, x="Family_size", hue="Survived", col="Sex", kind="count") # Family_size doesn't affect the survival of men

In [18]:
#We separate the target variable from the training sample so as not to confuse the algorithm

y_train = train_full["Survived"]
train_sep = train_full.drop(columns="Survived")

In [19]:
#One-hot-encoding categorical data

X_train, X_test = encode_categorical(train_sep, test_full)

In [20]:
#Looking at the result
X_train

,Pclass,Age,SibSp,Parch,Fare,Family_size,Sex_male,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,3,22.0,1,0,7.2500,1,True,False,True
2,1,38.0,1,0,71.2833,1,False,False,False
3,3,26.0,0,0,7.9250,0,False,False,True
4,1,35.0,1,0,53.1000,1,False,False,True
5,3,35.0,0,0,8.0500,0,True,False,True
...,...,...,...,...,...,...,...,...,...
887,2,27.0,0,0,13.0000,0,True,False,True
888,1,19.0,0,0,30.0000,0,False,False,True
889,3,28.0,1,2,23.4500,3,False,False,True
890,1,26.0,0,0,30.0000,0,True,False,False
891,3,32.0,0,0,7.7500,0,True,True,False

In [21]:
#Checking the data status #3
print("X_train:")
X_train.info()
print(" \nX_test:")
X_test.info()

X_train:
<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pclass       891 non-null    int64
 1   Age          891 non-null    float64
 2   SibSp        891 non-null    int64
 3   Parch        891 non-null    int64
 4   Fare         891 non-null    float64
 5   Family_size  891 non-null    int64
 6   Sex_male     891 non-null    bool
 7   Embarked_Q   891 non-null    bool
 8   Embarked_S   891 non-null    bool
dtypes: bool(3), float64(2), int64(4)
memory usage: 51.3 KB

X_test:
<class 'pandas.core.frame.DataFrame'>
Index: 418 entries, 892 to 1309
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pclass       418 non-null    int64
 1   Age          418 non-null    float64
 2   SibSp        418 non-null    int64
 3   Parch        418 non-null    int64
 4   Fare         418 non-null    float64
 5   Family_size  418 non-null    int64
 6   Sex_male     418 non-null    bool
 7   Embarked_Q   418 non-null    bool
 8   Embarked_S   418 non-null    bool
dtypes: bool(3), float64(2), int64(4)
memory usage: 24.1 KB